*{
	margin: 0;
	padding: 0;
}

.content{
	width:  600px;
	margin:  auto;
}

h1{
	text-align: center ;
	margin-bottom:  20px;

}

table{
	margin:  auto;
}

table tr th{
	padding: 20px;
	background-color: lightblue;
}

table tr td{
	padding: 20px;
	background-color: lightgray;
}


a{
	text-align: center;
}